body {
  background-color: green;
}

.card {
  background-color: white;
  margin: auto;
  margin-top: 50px;
  height: 200px;
  text-align: center;
  font-size: 80px;
  width: 250px;
  padding: 20px;
  padding-top: 180px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;
}

.card::before {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 90px;
}

.card::after {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 90px;
  transform: rotate(180deg);
}

.card.spades::before,
.card.spades::after {
  content: "\2660";
}

.card.clubs::before,
.card.clubs::after {
  content: "\2663";
}

.card.hearts::before,
.card.hearts::after {
  content: "\2665";
  color: red;
}

.card.diamonds::before,
.card.diamonds::after {
  content: "\2666";
  color: red;
}
.btn {
  border: none;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 690px;
}
.danger {
  background-color: white;
  border: 2px solid #f44336;
}
.danger:hover {
  background: #da190b;
  color: white;
}
