body {
  background-color: green;
  box-sizing: border-box;
}
.card {
  text-align: center;
  display: inline-block;
  background-color: white;
  margin: auto;
  height: 300px;
  font-size: 80px;
  width: 250px;
  padding: 20px;
  padding-top: 180px;
  border-radius: 5px;
  border: 1px, solid, black;
  position: relative;
}

.card::before {
  content: "\2660";
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
.card::after {
  content: "\2660";
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}
spades.card::before,
& spades.card::after {
  content: "\2660";
}
clubs.card::before,
& clubs.card::after {
  content: "\2663";
}
hearts.card::before,
& hearts.card::after {
  content: "\2665";
  color: red;
}
diams.card::before,
& diams.card::after {
  content: "\2666";
  color: red;
}
